{{ define "main" }}
<div class="container container-narrow">
    <div class="post-header">
        {{ with .Params.series }}
        <div class="post-series">{{ . }}</div>
        {{ end }}
        <h1>{{ .Title }}</h1>
        <div class="post-meta">
            <span>{{ .Date.Format "Jan 2, 2006" }}</span> · <span>{{ math.Round (div (countwords .Content) 200.0) }} Min
                Read</span>
        </div>
    </div>

    <div class="post-body">
        {{ .Content }}
    </div>
</div>
{{ end }}