<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    {{ partial "nav.html" . }}
    <main id="main-content">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ $js.RelPermalink }}"></script>

    <!-- Calendly Link Widget Script -->
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
</body>

</html>