{{ define "main" }}
<div class="container container-narrow">
    <div class="blog-header">
        <h1>{{ if eq .Kind "term" }}{{ replace .Title "-" " " | title }}{{ else }}{{ .Title }}{{ end }}</h1>
        {{ if and (eq .Kind "term") .Params.description }}
        <p class="blog-header-intro">{{ .Params.description }}</p>
        {{ end }}
        {{ if .Content }}
        <div class="blog-header-intro">
            {{ .Content }}
        </div>
        {{ end }}
    </div>

    <div class="article-list">
        {{ range .Pages.ByDate.Reverse }}
        {{ partial "article-entry.html" . }}
        {{ end }}
    </div>
</div>
{{ end }}
